body {
    background-color: dodgerblue;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.container-fluid {
    background-color: purple;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0; 
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgba(20, 124, 155, 0.397);
}


.text-center{
    color: whitesmoke;
    
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

.container-fluid{
    align-content: center;
}
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        /* display: none; */
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .3rem 3rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

#data{
    color: black;
    font-weight: bold;
}

.row{
    background-color: lightskyblue;
    padding-top: 50px;
    background-position:center;
    text-align:center;
    border-image: round;
}

.caption {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.thumbnail {
    color:black;
    bottom: 20px;
    right: 20px;
    color: white;
    
}

.thumb-text {
    color: black;
    padding-left: 70px;
    padding-right: 70px;
    text-align:left;
  
}

.corners {
    border-radius: 25px;
    border: 2px solid #f3f5f2;
    width: 200px;
    height: 150px;
  }




